<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Al principio, era un basural</h2>
        <p class="lead">Era un lugar donde la gente tiraba basura: cortes de ramas, pinocha, poda de los jardines. Quisimos transformar el área en un espacio beneficioso para todos los vecinos. En el barrio, es frecuente ver personas caminando y corriendo. Entendimos que faltaba un gimnasio público, disponible las 24hs, para completar el entrenamiento de nuestros vecinos más deportistas. </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
