<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Dejanos una reseña en Google Maps o subi una foto, por favor</h3>
        <a href="https://www.google.com/maps/place/Gimnasio+al+aire+libre/@-37.1526391,-56.8927611,17z/data=!4m7!3m6!1s0x959c9da2900172d3:0x2d5de8d2d8310ef6!8m2!3d-37.1526391!4d-56.8905724!9m1!1b1" class="btn btn-lg btn-light">Dejar Reseña</a>
        <!--a href="#" class="btn btn-lg btn-dark">Look at Me!</a-->
      </div>
    </div>
  </div>
</aside>
