<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>La historia del lugar</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/large_photos/basura.jpg">
                <img class="img-portfolio img-responsive" src="img/thumbnails/basura.jpg">
              </a>                
              Primero era basura. Empezaron tirar pinocha y cortes de pasto, despues ramas, despues basura comun y terminaron con escombro del hormigon.
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/large_photos/municipalidad-saco-basura.jpg">
                <img class="img-portfolio img-responsive" src="img/thumbnails/municipalidad-saco-basura.jpg">
              </a>                
              Una vez cuando municipalidad saco la basura, nosotros decidimos actuar. Rapido!
            </div>
          </div>


          
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/large_photos/pinocha.jpg">
                <img class="img-portfolio img-responsive" src="img/thumbnails/pinocha.jpg">
              </a>                
              Metemos un cartel, pero lo ignoraron. Mientras pedimos los materiales, tiraron pinocha y recortes de pasto. Nosotros distribuimos el pasto y arriba pinocha. El pasto olia con compost y tuve miles de mosquitos, pero nada. Parecia como el diseño, no basura.
            </div>
          </div>
     
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/large_photos/llego-lena.jpg">
                <img class="img-portfolio img-responsive" src="img/thumbnails/llego-lena.jpg">
              </a>                
              Escavamos los posos de 80 cm y traimos los postes. Despues aparecieron dos problemas: 1. La profundidad tiene que ser mas que llega la mano. 2. Los pozos eran mal puestos, asi tuvimos que agrandarlos y como consequencia meter mas hormigon que planeamos.
            </div>
          </div>


        </div>

        A continuar
        <!-- /.row (nested) -->
        <!--a href="#" class="btn btn-dark">View More Items</a-->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
