<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Al principio, era un basural</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/large_photos/basura.jpg">
                <img class="img-portfolio img-responsive" src="img/thumbnails/basura.jpg">
              </a>                
             Era un lugar donde la gente tiraba basura: cortes de ramas, pinocha, poda de los jardines y escombro. </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/large_photos/municipalidad-saco-basura.jpg">
                <img class="img-portfolio img-responsive" src="img/thumbnails/municipalidad-saco-basura.jpg">
              </a>                
              En cuanto la municipalidad retiró la basura acumulada, comenzamos a actuamos rápidamente.
            </div>
          </div>


          
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/large_photos/pinocha.jpg">
                <img class="img-portfolio img-responsive" src="img/thumbnails/pinocha.jpg">
              </a>                
              Pusimos un cartel: 'No arrojar las ramas por favor' pero muchos lo ignoraron. Mientras esperábamos los materiales para construir el gimnasio, aparecían nuevas montañas de pinocha y recortes de pasto. Aunque el olor no era muy agradable y había miles de mosquitos, distribuimos el pasto y la pinocha. Así, ya no parecía basura sino parte del diseño.
            </div>
          </div>
     
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/large_photos/llego-lena.jpg">
                <img class="img-portfolio img-responsive" src="img/thumbnails/llego-lena.jpg">
              </a>                
              El largo de nuestros brazos no era suficiente para escavar los pozos de los postes. Teníamos que seguir hasta China (al menos, esa fue nuestra impresión).
            </div>
          </div>


        </div>

        Continuará
        <!-- /.row (nested) -->
        <!--a href="#" class="btn btn-dark">View More Items</a-->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
