<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Aire Libre</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Principio</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >Sobre nosotros</a>
    </li>
    <li>
      <a href="#ejercisios" onclick = $("#menu-close").click(); >Ejercisios</a>
    </li>
    <li>
      <a href="#fotos" onclick = $("#menu-close").click(); >Fotos</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Ubicacion</a>
    </li>
  </ul>
</nav>
