<section id="video" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
<h2>Todavía
    no podés
    hacer
    ni un
    pull-up?
    </h2>
    <p class="lead">Una buena rutina
        para los principiantes</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NbojW8NI_xo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</section>
